.tasks-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 0;
}

.tasks-column__tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  width: fit-content;
}
