.task-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-neutral-4);
  width: 348px;
  cursor: grab;
}

.task-card:active {
  cursor: grabbing;
}

.task-card__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-card__header > :first-child {
  color: var(--color-neutral-1);
}

.task-card__header > :last-child {
  margin-left: auto;
}

.task-card__points {
  display: flex;
  align-items: center;
}

.task-card__points > :first-child {
  color: var(--color-neutral-1);
}

.task-card__points > :last-child {
  margin-left: auto;
}

.task-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.task-card__footer {
  display: flex;
  align-items: center;
}

.task-card__footer__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-neutral-1);
}

.task-card__footer__actions > span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
