.sidebar {
  width: 232px;
  height: 100vh;
  background-color: var(--color-neutral-4);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 2rem 0 0 2rem;
  border-radius: 1rem;
}

.sidebar > :first-child {
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-self: center;
}
