header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 2rem 0 0;
  background-color: var(--color-neutral-4);
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
}

header > :first-child {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;
}

.icon-button {
  all: unset;
  color: var(--color-neutral-2);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon-button:focus-visible {
  outline: 2px solid var(--color-primary-4);
  outline-offset: 2px;
}

header > :first-child > input {
  all: unset;
  color: var(--color-neutral-2);
  width: 100%;
  margin-right: 1rem;
  padding: 1rem;
}

header > :first-child > input:focus-visible {
  outline: 2px solid var(--color-primary-4);
  outline-offset: 2px;
}

header > :nth-child(2) {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header > :nth-child(2) > :last-child {
  all: unset;
}

header > :nth-child(2) > :last-child:focus-visible {
  outline: 2px solid var(--color-primary-4);
  outline-offset: 2px;
}
